<div class="container">

    <form action="" method="">
        <div class="auth-form">
            <div class="auth-form-logo">
                <img src="img/mybank_logo1_purple.png" />
            </div>
            <div class="auth-form-header">
                <h3>Sign in to Mybank</h3>
            </div>
            <div class="row auth-form-body">

                <dl class="form-group">
                    <dt><label>Identifiant du Client</label></dt>
                    <dd><input class="form-control" type="text" value="Identifiant."></dd>
                </dl>
                <dl class="form-group">
                    <dt><label for="password">
                        Password <a href="/password_reset" class="right label-link">Forgot password?</a>
                        </label>
                    </dt>
                    <dd><input class="form-control" type="password" value="Password"></dd>
                </dl>


                <input type='button' class='btn btn-purple btn-block' name='connexion' value='connexion' />
            </div>
        </div>
    </form>
    <p class="auth-form auth-form-footer">
        New to Mybank ?
        <a href="#/account" ui-sref="app.account"> Create an account.</a>
    </p>
</div>