    .black-background {
        background-color: rgb(0, 0, 0);
        border: 0;
        box-shadow: none
    }
    
    .steps {
        display: table;
        width: 100%;
        padding: 0;
        margin: 30px auto 0;
        overflow: hidden;
        list-style: none;
        border: 1px solid #dfe2e5;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(27, 31, 35, 0.05);
    }
    
    .steps li:first-child {
        border-left: 0;
    }
    
    .steps li.current {
        color: #24292e;
        background-color: #fff;
    }
    
    .steps li {
        display: table-cell;
        width: 33.3%;
        padding: 10px 15px;
        color: #c6cbd1;
        cursor: default;
        background-color: #fafbfc;
        border-left: 1px solid #dfe2e5;
    }
    
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    
    .steps li .step {
        display: block;
    }
    
    .btn {
        margin-bottom: 16px;
    }