<div class="js-header-wrapper">

    <header class="account-header  header-logged-out f4 py-3" role="banner">
        <div class="container-lg d-flex px-3">
            <div class="d-flex flex-justify-between flex-items-center">
                <a class="header-logo-invertocat my-0" href="/" aria-label="Homepage">

                </a>
            </div>

            <div class="HeaderMenu HeaderMenu--bright d-flex flex-justify-between flex-auto">
                <nav class="mt-0">
                    <ul class="d-flex list-style-none">
                        <li class="ml-2">
                            <a href="/operation" class="text-white js-selected-navigation-item HeaderNavlink px-0 py-2 m-0">Operations</a>
                        </li>
                        <li class="ml-4">
                            <a href="/myCards" class="text-white js-selected-navigation-item HeaderNavlink px-0 py-2 m-0">Banking cards</a>
                        </li>
                    </ul>
                </nav>

                <div class="d-flex">
                    <span class="d-inline-block">                
                        <div class="HeaderNavlink px-0 py-2 m-0">
                            <a class="text-bold text-white no-underline" href="/#/authentication" >Sign in</a>
                            <span class="text-gray">or</span>
                    <a class="text-bold text-white no-underline" href="/#/account">Sign up</a>
                </div>
                </span>
            </div>
        </div>
</div>
</header>

<div class='bg-shade-gradient '>
    <div class="bg-shade-gradient">
        <div class='setup-wrapper'>
            <div class='setup-header setup-org'>
                <h1>Welcome to Mybank</h1>
                <p class="lead">The rigth way to manage in one place your banking cards or account .</p>
                <p data-translate="home.question">
                    If you have any question on My Bank:
                    <a class="text-bold text-white no-underline" href="/#/home">Goto Home</a>
                </p>
            </div>
        </div>
    </div>
</div>

</div>