<div class="js-header-wrapper">

    <header class="account-header  header-logged-out f4 py-3" role="banner">
        <div class="container-lg d-flex px-3">
            <div class="d-flex flex-justify-between flex-items-center">
                <a class="header-logo-invertocat my-0" href="/" aria-label="Homepage">

                </a>
            </div>

            <div class="HeaderMenu HeaderMenu--bright d-flex flex-justify-between flex-auto">
                <nav class="mt-0">
                    <ul class="d-flex list-style-none">
                        <li class="ml-2">
                            <a href="/operation" class="text-white js-selected-navigation-item HeaderNavlink px-0 py-2 m-0">Operations</a>
                        </li>
                        <li class="ml-4">
                            <a href="/myCards" class="text-white js-selected-navigation-item HeaderNavlink px-0 py-2 m-0">Banking Cards</a>
                        </li>

                    </ul>
                </nav>

                <div class="d-flex">
                    <span class="d-inline-block">                
                        <div class="HeaderNavlink px-0 py-2 m-0">
                            <a class="text-bold text-white no-underline" href="/#/authentification" >Sign in</a>
                            <span class="text-gray">or</span>
                    <a class="text-bold text-white no-underline" href="/#/account">Sign up</a>
                </div>
                </span>
            </div>
        </div>
</div>
</header>

<div class='bg-shade-gradient '>
    <div class="bg-shade-gradient">
        <div class='setup-wrapper'>
            <div class='setup-header setup-org'>
                <h1>Join Mybank</h1>
                <p class="lead">The rigth way to buy, with your bank .</p>
                <ol class="steps">
                    <li>
                        <svg aria-hidden="true" class="octicon octicon-person" height="32" version="1.1" viewBox="0 0 12 16" width="24"><path fill-rule="evenodd" d="M12 14.002a.998.998 0 0 1-.998.998H1.001A1 1 0 0 1 0 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"></path></svg>
                        <strong class="step">Step 1:</strong> Personnal account
                    </li>
                    <li class="current">
                        <svg aria-hidden="true" class="octicon octicon-versions" height="32" version="1.1" viewBox="0 0 14 16" width="28"><path fill-rule="evenodd" d="M13 3H7c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zm-1 8H8V5h4v6zM4 4h1v1H4v6h1v1H4c-.55 0-1-.45-1-1V5c0-.55.45-1 1-1zM1 5h1v1H1v4h1v1H1c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1z"></path></svg>
                        <strong class="step">Step 2:</strong> Personnal information
                    </li>
                    <li>
                        <svg aria-hidden="true" class="octicon octicon-gear" height="32" version="1.1" viewBox="0 0 14 16" width="28"><path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
                        <strong class="step">Step 3:</strong> Banking cards or accounts
                    </li>
                </ol>
            </div>
            <div class="setup-main">
                <div class="setup-form-container">
                    <form class='setup-form js-signup-form' ng-submit="vm.createAccountPersonnalInfo()">
                        <h2 class="f2-light mb-1">
                            Personnal informations.
                        </h2>
                        <dl class="form-group">
                            <dt><label>FirstName</label></dt>
                            <dd><input class="form-control" type="text" ng-model="vm.registerAccount.firstName"></dd>
                            <p class="note">This will be your username. You can add the name of your organization later.</p>
                        </dl>
                        <br>
                        <dl class="form-group">
                            <dt><label>LastName</label></dt>
                            <dd><input class="form-control" type="text" ng-model="vm.registerAccount.lastName"></dd>
                            <p class="note">We'll occasionally send updates about your account to this inbox. We'll never share your email address with anyone.</p>
                        </dl>

                        <p class="tos-info">By clicking on "Create an account" below, you are agreeing to the
                            <a href="" target="_blank">Terms of Service</a> and the
                            <a href="" target="_blank">Privacy Policy</a>.
                        </p>

                        <button type="submit" class="btn btn-purple">Create an account</button>
                    </form>
                </div>

                <div class="modal-backdrop js-touch-events"></div>

            </div>
            <!-- end setup main -->
            <div class="setup-secondary">
                <div class="setup-info-module">
                    <h2>You’ll love MyBank</h2>
                    <ul class="features-list">
                        <li><strong>Unlimited</strong> bank account</li>
                        <li><strong>Unlimited</strong> public access</li>

                        <li class="list-divider"></li>

                        <li><svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg> Great communication</li>
                        <li><svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg> Frictionless development</li>
                        <li><svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg> Open source community</li>
                    </ul>
                </div>
            </div>
            <!-- End setup-secondary -->
        </div>
    </div>
</div>

</div>